<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Searchthetube</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
 
  </head>
  <body>
    <div>
	    <h1>You<button>Tube</button> Video Search<h1>
	    <br />
	    <h2 style="text-align:center; color:#d32323; margin:-20px 0 20px 0; font-size:1em;">Searching for: <span style="color:#fff; font-family:'Georgia',serif;padding-right:30px; font-style:italic">{{item}}</span></h2>
    </div>
    <div>
	    <center>
	      <input type="text" placeholder="Type in your search" id="mysearch" style="margin:0 0 20px 0; height:30px; width:200px; border-radius:5px;" />
	      <button onClick= window.location.href=mySearch() method="post" style="margin-left:0px; height:35px; width:75px; background:#4368bc;">Search</button>
	        <span style="margin-left:10px;font-size:15px;text-decoration:underline;font-weight:200"></span>
	    </center>
    </div>

    {{#results}}
    <div style="display:block; margin:30px auto; width:65%; height: 500px; box-shadow:0.8px 0.8px 5px #3b3b3b; border: 1px inset black; border-radius:2px; background:#fff;">
      <p style="margin-top:20px;"><iframe height=315px width=560px frameborder="0" allowfullscreen style="display:block; margin-left:20px;"src ='https://www.youtube.com/embed/{{id}}'></iframe></p>
      <p style="padding-left:17px; padding-top:10px; font-size:1em; font-weight:bold; color:#00; ">{{title }}</p>
      <p style="padding:10px 0 0 17px; color:#3b3b3b;">{{description}}</p><br />
      <a style="padding:0 0 10px 17px; text-decoration:none;" href="{{link}}">Go to Youtube</a>
      <br />
      </div>
    {{/results}}

		<script>
		  function mySearch(){
		    var x = document.getElementById('mysearch').value
		    var url = "/?item="+x
		    return url
		  }
		</script>
  </body>
</html>
